<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pravda news </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
   
    <div class="NavigationDiv">
        <input class="btn btn-sm btn-primary" value="Sort Name" onclick="location.href='@Url.Action("SortIndex", "Home")'" />
        <input class="btn btn-sm btn-primary" value="Sort Date" onclick="location.href='@Url.Action("", "")'" />
    </div>

    <div class="HomeDiv">
        <div class="ContetGadget">    
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>