<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pravda news </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="text-center TitleLabel">
        <h1>УКРАЇНСЬКА ПРАВДА</h1>
        <label id="aLable" style="font-size:22px;">Новини</label>
    </div>

    <div class="text-center NavButton" style="margin:1%">
        <input class="btn btn-sm btn-primary" value="Сортувати за заголовком" onclick="location.href='@Url.Action("SortTitleIndex", "Home")'" />
        <input class="btn btn-sm btn-primary" value="Сортувати за датою" onclick="location.href='@Url.Action("SortDataIndex", "Home")'" />
    </div>

    <div>
            @RenderBody();
    </div>
</body>
</html>