body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.HomeDiv {
    margin: auto;
    height: 600px;
    width: 800px;
    padding: 00px;
    /*border-style: solid;
    border-color: #808080;*/
}

