@using WebApplicationNewsUkraine.Models
@model IEnumerable<PravdaModel>

<table class="table table table-striped">
        <tr>
            <th>Date</th>
            <th>News</th>
        </tr>
        @foreach (PravdaModel pravda in Model)
        {
            <tr>
                <td>@pravda.Date</td>
                <td>
                    @pravda.Title
                    @pravda.Description
                </td>
            </tr>
        }
</table>
