@using WebApplicationNewsUkraine.Models
@model IEnumerable<PravdaModel>

<table class="table table table-striped">
        <tr>
            <th>Дата:</th>
            <th>Новини:</th>
        </tr>
        @foreach (PravdaModel pravda in Model)
        {
            <tr>
                <td>@pravda.Date</td>
                <td>
                    <label>@pravda.Title</label> 
                    <br>@pravda.Description
                </td>
            </tr>
        }
</table>
